.main {
  margin: 0.4rem 2rem 2rem 2rem;
  width: 60%;
  @media (max-width: 600px) {
    width: 90%;
  }

  padding: 0.8rem;
  background: var(--glassMorph);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  button {
    all: unset;
  }

  input {
    border: 0;
    border-radius: 6px;
    width: 80%;
    padding: 0.5rem 1rem;
    @media (max-width: 600px) {
      margin-bottom: 0.5rem;
      margin-right: 0;
    }
  }
  button {
    border-radius: 6px;
    padding: 0.4rem 1rem;
    color: var(--primaryColor);
    background: var(--blueColor);
    @media (max-width: 600px) {
      height: 1.4rem;
    }
  }
}
