.todo {
  padding: 0.4rem;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  text-align: center;
}

.todoN {
  margin-bottom: 0.6rem;
  background: var(--primaryColor);
}

.todoD {
  margin-bottom: 0.2rem;
  background: grey;

  opacity: 0.4;
  text-decoration: line-through;
  transform: scale(0.97, 1);
}

.todoInside {
  display: flex;
  justify-content: space-between;
}
