.main {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    height: 100vh;
    margin-top: 5rem;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      width: 86%;
      display: flex;
      justify-content: space-between;
      font-size: 3rem;
      color: var(--primaryColor);
      margin-bottom: 2rem;
      button {
        padding: 0.2rem;
        font-size: 1rem;
        background: none;
        border: 2px solid var(--primaryColor);
        border-radius: 6px;

        svg {
          width: 3rem;
          height: 3rem;
          path {
            fill: (var(--primaryColor));
          }
        }
        @media (min-width: 600px) {
          display: none;
        }
      }
    }

    .todolist {
      list-style-type: none;
      width: 86%;
    }
  }
}
